/Course1_AI-4-diagnosis/week-1/assignment/nih
/Course1_AI-4-diagnosis/week-1/lecture-notebooks/nih/


/Course1_AI-4-diagnosis/week-3/assignment/BraTS-Data/
/Course1_AI-4-diagnosis/week-3/lecture-notebooks/BraTS-Data/

/Course2_AI-4-prognosis/week-1/assignment/X_data.csv
/Course2_AI-4-prognosis/week-1/assignment/y_data.csv
/Course2_AI-4-prognosis/week-1/lecture-notebooks/X_data.csv
/Course2_AI-4-prognosis/week-1/lecture-notebooks/y_data.csv
/Course2_AI-4-prognosis/week-2/lecture-notebooks/NHANESI_subset_y.csv
/Course2_AI-4-prognosis/week-2/lecture-notebooks/NHANESI_subset_X.csv
/Course2_AI-4-prognosis/week-2/assigment/NHANESI_subset_y.csv
/Course2_AI-4-prognosis/week-2/assigment/NHANESI_subset_X.csv
/Course2_AI-4-prognosis/week-4/lecture-notebooks/R/
/Course2_AI-4-prognosis/week-4/assignment/R/

/Course3_AI-4-treatment/week_1/assignment/gusto_truncated.csv
/Course3_AI-4-treatment/week_1/assignment/levamisole_data.csv
/Course3_AI-4-treatment/week_1/lecture-notebooks/dummy_data.csv
/Course3_AI-4-treatment/week_2/assignment/NegBio/
/Course3_AI-4-treatment/week_2/assignment/models/
/Course3_AI-4-treatment/week_2/assignment/mentions.pkl
/Course3_AI-4-treatment/week_2/assignment/unmentions.pkl
/Course3_AI-4-treatment/week_2/assignment/stanford_report_test.csv
/Course3_AI-4-treatment/week_2/assignment/example-report.png
/Course3_AI-4-treatment/week_2/assignment/F1_score.svg
/Course3_AI-4-treatment/week_2/assignment/nndep-example.png
/Course3_AI-4-treatment/week_2/lecture-notebooks/NegBio/
/Course3_AI-4-treatment/week_2/lecture-notebooks/safe_copies/
/Course3_AI-4-treatment/week_2/lecture-notebooks/stanford_report_test.csv
/Course3_AI-4-treatment/week_3/assignment/densenet.hdf5
/Course3_AI-4-treatment/week_3/assignment/nhanes_rf.sav
/Course3_AI-4-treatment/week_3/assignment/nhanest_test.csv
/Course3_AI-4-treatment/week_3/assignment/reference_cam.npy
/Course3_AI-4-treatment/week_3/lecture-notebooks/lecture_nb_permutation_data/
/Course3_AI-4-treatment/week_3/lecture-notebooks/nih_new/
/Course3_AI-4-treatment/week_3/lecture-notebooks/densenet.hdf5
/Course3_AI-4-treatment/week_3/lecture-notebooks/nhanest_test.csv
/Course3_AI-4-treatment/week_3/lecture-notebooks/C2M1_model.model
